<div>
    <table class="table table-bordered">
      <tr>
        <th>報告者</th>
        <th>大学名</th>
        <th>学科</th>
        <th>作成日</th>
      </tr>

    <% @unis.each do |uni| %>
      <tr>
        <td><%= uni.account.student_id %></td>
        <td><%= link_to uni.name, uni, :style=>"background-color: transparent;"%></td>
        <td><%= uni.major %></td>
        <td><%= uni.created_at.strftime("%Y年%m月%d日") %>
      </tr>
    <% end %>
    </table>
    <div style="text-align:center">
        <%= will_paginate @unis,
            :previous_label => '<前ページ', :next_label => '次ページ>' %>
    </div>
</div>
